.core {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .header {}
  .body {
    display: flex;
    flex-direction: column;
    flex: 1;
    .content {
      flex: 1;
    }
    .nav, .ads {
      flex: 0 0 12em;
    }
    .nav {
      order: -1;
    }
  }
  .footer {}

  @media (min-width: 768px) {
    .body {
      flex-direction: row;
      flex: 1;
    }
    .content {
      flex: 1;
    }
    .nav, .ads {
      /* 12em is the width of the columns */
      flex: 0 0 12em;
    }
  }
}
